{% extends 'layouts/base.html.twig' %}

{% block title 'Room #' ~ room.id %}

{% block body %}
    <turbo-frame id="room">
        <h1>Name : {{ room.name }}</h1>

        <p>
            <a href="{{ path('app_rooms_edit', {'id': room.id}) }}">Edit</a>
            <a href="{{ path('app_rooms_index') }}" data-turbo-frame="_top">Back</a>
        </p>
    </turbo-frame>

    {% for message in room.messages %}
        <div>
            <p>{{ message.createdAt|date('d/m/Y H:i:s') }} : {{ message.content }}</p>
        </div>
    {% endfor %}

    <turbo-frame id="new_message" src="{{ path('app_messages_new', {'room': room.id}) }}" target="_top"></turbo-frame>
{% endblock %}